.menu__grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(15, 1fr);
    gap: 10px;
}

.menu__grid-container-unable {
    visibility: hidden;
}